<% layout("/layouts/boilerplate") %>
    

<div class="row mt-5">
    <div class="col-6 offset-3">
        <h1>Reset Password</h1>
    <form action="/reset/<%= token %>" method="POST">
        <div class="mb-3">
            <label for="password" class="form-label">
                New Password
            </label>
            <input type="password" name="password" id="password" class="form-control" required>
            
        </div>


        <div class="mb-3">
            <label for="confirm" class="form-label">
                Confirm Password
            </label>
            <input type="password" name="confirm" id="confirm" class="form-control" required>
            <div class="valid-feedback">Password set</div>
        </div>


        <button class="btn btn-success">Reset Password</button>
    </form>

    </div>
</div>







